@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
}

.uno {
  line-height: 3.95rem;
  font-size: 3rem;
  color: #039;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.wey {
  border-left: 30px solid red;
  padding-left: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(0, 32, 86, 0.8) !important;
  border-radius: 0.4vh;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  transition: 0.5s;
  background-color: #000000a6 !important;
  color: rgb(255, 255, 255);
  border-radius: 0.4vh;
  transform: scale(0.9);
}

.container {
  width: 1200px;
  margin: auto;
}

footer {
  color: white;
  background: rgba(0, 32, 86, 0.8) !important;
  width: 100%;
  height: 81px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.containers {
  position: relative;
  top: 30px;
}
