@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8) !important;
  border-radius: 0.4vh;
}

h3 {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 7px;
  color: #ffffff;
  padding-left: 7px;
  padding-right: 7px;
  text-align: left;
  font-size: 0.7em;
  line-height: 1.8vh;
  border-radius: 5px;
  bottom: 206px;
  left: 8px;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  position: relative;
  top: 10px;
}

.li {
  float: left;
}

P {
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}

P:hover {
  text-decoration-line: underline;
}

.a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}

.a:hover {
  text-decoration-line: underline;
}

.li .a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li .a:hover {
  transition: 0.5s;
  background-color: #ffffffd7 !important;
  box-shadow: 0 0 5px white;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px black;
  border-radius: 0.4vh;
  transform: scale(0.9);
}

.volvi {
  position: relative;
  left: 855px;
}

.uno {
  line-height: 3.95rem;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.wey {
  border-left: 30px solid red;
  padding-left: 2rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media screen and (max-width: 375px) {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 0.4vh;
    font-size: 0.7rem;
  }
  .volvi a {
    position: relative;

    left: -80px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin: auto;
    width: auto;
  }
  .volvi {
    position: absolute;
    left: 380px;
  }
}

.noti {
  position: relative;
  width: 285px;
  height: 243px;
  float: left;
  margin-top: 20px;
  margin-left: 70px;
  border-bottom: none;
  padding-left: 9px;
  padding-bottom: 0;
  margin-bottom: 7px;
  border-left: 1px solid #d1d1d1;
  overflow: hidden;
}

.noti:hover {
  transform: scale(1.03);
  border-left-color: #333;
  /*transition:ease-in-out 0.3s;*/
  cursor: pointer;
}

/*footer*/
