@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*body {
  background-image: url(https://i.ytimg.com/vi/D3vf1cNG-Rg/maxresdefault.jpg);
  background-size: 1960px;
}*/

body {
  background-color: rgb(28, 107, 226);
  margin-right: 450px;
}

h2 {
  color: rgb(0, 183, 255);
  position: relative;
  top: 7px;
  text-align: center;
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 110px;
  overflow: hidden;
  background: rgb(0, 0, 0);
  border-radius: 13px;
  color: rgb(255, 255, 255);
  border: 1px solid #ffffff30 !important;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px black;
  border-radius: 13px;
  color: rgb(0, 0, 0);
  transform: scale(0.9);
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

.box {
  position: relative;
  display: block;
  width: 175px;
  height: 183px;
  float: left;
  border-radius: 5px;
  background-color: rgb(0 0 0);
  padding: 1vh 1.2vh 1vh 1.2vh;
  top: 70px;
  margin-left: 3px;
  margin: 3px;
  left: 300px;
  transition: opacity 0.2s;
  opacity: 1;
  transition: ease-in-out 0.3s;
  border: 1px solid #ffffff30 !important;
  overflow: hidden;
}

.box:hover {
  transform: scale(1.03);
  /*transition:ease-in-out 0.3s;*/
  z-index: 9999999;
}

h3 {
  position: absolute;
  background: #ffffff;
  border-top-left-radius: 7px;
  color: #000000;
  padding-left: 7px;
  padding-right: 7px;
  text-align: left;
  font-size: 0.6em;
  line-height: 1.8vh;
  border-radius: 5px;
  bottom: 170px;
  left: 5px;
}

p {
  color: rgb(255, 255, 255);
  font-size: 8.5px;
  position: relative;
}

img {
  width: 55px;
  height: 53px;
  position: relative;
  left: 60px;
}

@media only screen and (max-width: 425px) {
  h3 {
    position: absolute;
    background: #ffffff;
    border-top-left-radius: 7px;
    color: #000000;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: left;
    font-size: 1em;
    line-height: 1.8vh;
    border-radius: 5px;
    bottom: 285px;
    left: 7px;
  }

  p {
    font-size: 12.5px;
  }

  img {
    width: 155px;
    height: 153px;
  }

  h2 {
    font-size: 20px;
  }

  .box {
    display: inline-block;
    width: 360px;
    height: 313px;
    position: relative;
    margin-right: 300px;
    left: 10px;
  }
}

@media only screen and (max-width: 370px) {
  h3 {
    position: absolute;
    background: #ffffff;
    border-top-left-radius: 7px;
    color: #000000;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: left;
    font-size: 1em;
    line-height: 1.8vh;
    border-radius: 5px;
    bottom: 280px;
    left: 7px;
  }

  p {
    font-size: 12.5px;
  }

  img {
    width: 155px;
    height: 153px;
  }

  h2 {
    font-size: 20px;
  }

  .box {
    display: inline-block;
    width: 260px;
    height: 313px;
    position: relative;
    margin-right: 170px;
    left: 5px;
  }
}

@media only screen and (max-width: 375px) {
  h3 {
    position: absolute;
    background: #ffffff;
    border-top-left-radius: 7px;
    color: #000000;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: left;
    font-size: 1em;
    line-height: 1.8vh;
    border-radius: 5px;
    bottom: 280px;
    left: 7px;
  }

  p {
    font-size: 12.5px;
  }

  img {
    width: 155px;
    height: 153px;
  }

  h2 {
    font-size: 20px;
  }

  .box {
    display: inline-block;
    width: 260px;
    height: 313px;
    position: relative;
    margin-right: 170px;
    left: 5px;
  }
}
